.container {
  width: 100%;
  height: 100%;
}

.header {
  background-color: lightblue;
  padding: 0.625rem;
  font-size: 1.5rem;
}

.main {
  padding: 0.625rem;
}

.section {
  background-color: lightgrey;
  margin-bottom: 1.125rem;
  padding: 0.625rem;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  max-height: 100vh;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* @media (min-width: 440px) {
  .flexContainer {
    flex-direction: row;
  }
} */

.box {
  background-color: tomato;
  color: white;
  padding: 0.625rem;
  margin: 0.625rem;
  font-size: 1.125rem;
  width: 9.375rem;
  height: 9.375rem;
  text-align: center;
  line-height: 130px;
}
