.container {
  width: 100%;
  height: 100%;
}

.header {
  background-color: lightblue;
  padding: 10px;
  font-size: 1.5rem;
}

.main {
  padding: 10px;
}

.section {
  background-color: lightgrey;
  margin-bottom: 20px;
  padding: 10px;
}

.column {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 440px) {
  .flexContainer {
    flex-direction: row;
  }
}

.box {
  background-color: tomato;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 1.125rem;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 130px;
}
